<div class="principal">

  <div class="alerta">
    <img src="/assets/alerta.jpg" />
    TODOS OS VALORES ESTÃO SUJEITOS A ALTERAÇÃO E SÃO ATUALIZADOS PELAS PRÓPRIAS CASAS DE CÂMBIO
  </div>

  <div class="lado_esquerdo">



    <div class="add_more" onclick="addMore()">
        +
    </div>

  </div>

  <div class="lado_direito">


  </div>


</div>

<script>

  var json = {};

  function addMore() {
      $.ajax({
          url: "cambio.html",
          success: function (data) {
              var json2 = {};
              json2.moedas = [];
              json2.opcionais = [];

              var min = 100;
              var max = 100000;
              var id = "id_" + Math.floor(Math.random()*(max-min+1)+min);

              localStorage.setItem(id, JSON.stringify(json2));

              $('.lado_esquerdo').prepend("<div id='"+id+"'>"+data+"</div>");
          },
          dataType: 'html'
      });
  }

  function addOrRemoveFromArray(array, obj) {
      if (array.indexOf(obj) == -1) {
          array.push(obj);
      } else {
          var index = array.indexOf(obj);
          array.splice(index, 1);
      }
  }

  $(document.body).on('click', 'div.filtros div' ,function(){
         // alert('sim, entrei');
          if ($(this).hasClass("filtro_moeda"))
              $(this).toggleClass("filtro_moeda_selecionado");
          else if ($(this).hasClass("filtro_pagamento")) {
              $(this).parent().find('.filtro_pagamento').removeClass('filtro_pagamento_selecionado');
              $(this).toggleClass("filtro_pagamento_selecionado");
          }
          else if ($(this).hasClass("filtro_opcional"))
              $(this).toggleClass("filtro_opcional_selecionado");
  });

  function filtrar(nome, tipo, obj) {

      var divpai = obj.closest('div[id^="id_"]');
      var keyjson = divpai.id;
      json = JSON.parse(localStorage.getItem(keyjson));

      if (tipo == 'moeda') {
          addOrRemoveFromArray(json.moedas, nome);
      }

      if (tipo == 'pagamento') {
          json.pagamento = nome;
      }

      if (tipo == 'opcional') {
          addOrRemoveFromArray(json.opcionais, nome);
      }

      localStorage.setItem(keyjson, JSON.stringify(json));

      $.ajax({
          contentType: 'application/json',
          data: JSON.stringify(json),
          dataType: 'json',
          success: function(data){
              //alert(data);
              $( "div#" + keyjson + " table").find('tbody').html('');
              $.each(data, function(i, item) {
                  $( "div#" + keyjson + " table").find('tbody')
                          .append($('<tr class="tr_moeda_'+keyjson+i+'">')
                                  .append($('<td style="width:60%">')
                                          .text(data[i].name))
                                  .append($('<td style="width:10%" class="td_moeda_'+keyjson+' dolar_'+keyjson+'" style="display:none">')
                                          .text(data[i].dolar))
                                  .append($('<td style="width:10%" class="td_moeda_'+keyjson+' euro_'+keyjson+'" style="display:none">')
                                          .text(data[i].euro))
                                  .append($('<td style="width:10%" class="td_moeda_'+keyjson+' libra_'+keyjson+'" style="display:none">')
                                          .text(data[i].libra))
                                  .append($('<td style="width:10%" class="td_moeda_'+keyjson+' peso_'+keyjson+'" style="display:none">')
                                          .text(data[i].peso))
                  );

                  var moedas = json.moedas;
                  $('.td_moeda_'+keyjson).hide();
                  $.each(moedas, function(j, item) {
                      //alert(moedas[i]);
                      if (moedas[j] == "dolar") {
                          if (data[i].dolar == "0,00 US$") { $('.tr_moeda_'+keyjson+i).hide() }
                          $('.dolar_'+keyjson).show();
                      } else if (moedas[j] == "euro") {
                          if (data[i].euro == "0,00 €") { $('.tr_moeda_'+keyjson+i).hide() }
                          $('.euro_'+keyjson).show();
                      } else if (moedas[j] == "libra") {
                          if (data[i].libra == "0,00 £") { $('.tr_moeda_'+keyjson+i).hide() }
                          $('.libra_'+keyjson).show();
                      } else if (moedas[j] == "peso") {
                          if (data[i].peso == "0,00 $") { $('.tr_moeda_'+keyjson+i).hide() }
                          $('.peso_'+keyjson).show();
                      }
                  });

              });
          },
          error: function(){
              //  alert("Device control failed");
          },
          processData: false,
          type: 'POST',
          url: '/home/filter'
      });
  }

</script>