<!DOCTYPE html>
<html>
<head>
  <title>Xdeal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="topo">
  <div class="principal">
    <img src="/assets/logo.jpg" />
    <div class="menu">
      <ul>
        <li>SOBRE O XDEAL</li>
        <li>ENTENDA A CONVERSÃO</li>
        <li>TERMOS DE USO</li>
        <li>CONTATO</li>
      </ul>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
